*{
    margin: 0;
    padding: 0;
}


/* modal css */
.mod_overlay{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,.5);
    opacity: 0;
    visibility: hidden;
    transition: all .2s linear;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -ms-transition: all .2s linear;
    -o-transition: all .2s linear;
}
.mod_overlay.active{
    opacity: 1;
    visibility: visible;

}
.modal_wrap {
	position: fixed;
	left: 50%;
	top: 50%;
	width: 40%;
	transform: translate(-50%,-50%) scale(0));
	-webkit-transform: translate(-50%,-50%) scale(0);
	-moz-transform: translate(-50%,-50%) scale(0);
	-ms-transform: translate(-50%,-50%) scale(0);
	-o-transform: translate(-50%,-50%) scale(0);
	overflow: hidden;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	transition: all .2s linear;
	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	-ms-transition: all .2s linear;
	-o-transition: all .2s linear;
	z-index: 999;
}
.modal_wrap.active{
    transform: translate(-50%,-50%) scale(1);
    -webkit-transform: translate(-50%,-50%) scale(1);
    -moz-transform: translate(-50%,-50%) scale(1);
    -ms-transform: translate(-50%,-50%) scale(1);
    -o-transform: translate(-50%,-50%) scale(1);
}

.close_btn{
    position: absolute;
    right: -8px;
    top: -8px;
    width: 50px;
    height: 50px;
    border: 0;
    font-size: 24px;
    line-height: 50px;
    border-radius: 50%;
    background: rgb(255, 46, 46);
    color: #ffffff;
    -webkit-border-radius:;
    -moz-border-radius:;
    -ms-border-radius:;
    -o-border-radius:;
}


/* hover me css */
.heading{
    color: #da4949;
    text-transform: uppercase;
}
.heading1.active{
    color: #000000;
}
.heading2.active{
    color: rgb(211, 248, 0);
}
.heading3.active{
    color: rgb(174, 0, 255);
}
.heading4.active{
    color: rgb(255, 231, 17);
}







